/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Playfair%20Display:700|Montserrat:400');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background: url("solar-4478105.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 1.3rem 10%;
	background: rgba(0, 0, 0, .1);
	backdrop-filter: blur(50px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 100;
}

.logo {
	font-size: 2rem;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 700;
}

.navbar a {
	font-size: 1.15rem;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: 500;
	margin-left: 2.5rem;
}

.icons {
	font-size: 2.8rem;
	color: #FFFFFF;
	cursor: pointer;
	display: none;
}

/* Breakpoints */
@media (max-width: 992px) {
	.header {
		padding: 1.3rem 5%;
	}
}

@media (max-width 768px) {
	.icons {
		display: block;
	}
	
	.navbar {
		position: absolute;
		top: 0;
		left: 0;
		widows: 100%;
		height: 17.7rem;
		background: red;
		
	}
}